li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px; 
}

a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

a:hover {
    color: orange;
    text-decoration: underline;
}


nav {
    margin-top: 0;
    background-color: #f0f7f7;
    height: 60px;
    padding-top: 12px;
}

#outer-container {
    margin-top: 50px;
}

button 
{
    margin-bottom: 30px;
    display: block;
}

#layout {
margin-top: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto;
grid-row-gap: 50px;
grid-column-gap: 20px;
    }

.rightside{
    float: right;
}

.card:hover {
    
    box-shadow: 2px 2px 2px 1px #666;
    
}

#container{
    padding-left: 125px;
    padding-right: 200px;
    
}

.card{
   position: relative;
    height: 425px;
    width: 340px;
}

.Card_text{
    text-align: center;
    position: relative;
    top: 78px;
  
}

.pricetext{
     text-align: center;
    font-style: italic;
     position: relative;
    top: 80px;
    
}

.listing-discount-ribbon-content {
    position: absolute;
    top: 10px;
    left: -5px;
    width: 70px;
    color: #FFFFFF;
    background-color: #ED7745;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    padding: 2px 10px;
    z-index: 2;
}

.img{
    position: relative;
    top: 20px;
    left: 40px;
}



.hidden_c {
    position: absolute;
    bottom: 50px;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;

}

.card:hover .hidden_c {
    visibility: visible;
}

.hidden, .hidden1 {
    text-transform: uppercase;
    padding: 10px 10px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #ed7745;
    color: #ED7745;
    font-size: 10;
    margin-right: 10px;
    border: 1.5px solid #ed7745;
}

.hidden1 {
    
    background-color: chocolate;
    color: white;
}