<html>
    <head>
        <script src="../javascript/script.js"></script>
        <link rel="stylesheet" href="../assets/stylesheets/style.css">
    </head>
    
    <body>
        
        <nav>
            <ul>
                <li><a href="#">Help</a> </li>
                <li><a href="#">Track orders</a></li>
                <li class="rightside"><a href="#">Stores</a></li>
                <li class="rightside"><a href="#">Bulk order</a></li>
                <li class="rightside"><a href="#">Gift cards</a></li>
            </ul>
        </nav>
        
        <div id="outer-container">
        <div id="container">
            <div id="layout">
                
                <div class="card">
                    <span class="listing-discount-ribbon-content">
                        49% Off
                    </span>
                <img class="img" src="../assets/images/s1.png" width="80%">
                <p class="Card_text">
                        Chelsea Adjustable Sectional Sofa
                       (Grey)
                    </p>
                    
                    <p class="pricetext">
                        Starting From ₹79,814 | EMI From ₹3,833
                    </p>
                    <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                </div>
            
                
                <div class="card">
                     <span class="listing-discount-ribbon-content">
                        39% Off
                    </span>
                <img class="img" src="../assets/images/s2.png" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                     <p class="pricetext">
                        Starting From ₹80,814 | EMI From ₹4,200
                    </p>
                    <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div>
                
                <div class="card">
                     <span class="listing-discount-ribbon-content">
                        59% Off
                    </span>
                <img class="img" src="../assets/images/s3.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                     <p class="pricetext">
                        Starting From ₹59,814 | EMI From ₹3,000
                    </p>
                    <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div>
                
                   <div class="card">
                        <span class="listing-discount-ribbon-content">
                        30% Off
                    </span>
                <img class="img" src="../assets/images/s4.jpg" width="80%">
                <p class="Card_text">
                       Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹55,814 | EMI From ₹2,800
                    </p>
                       <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div>
                
                   <div class="card">
                        <span class="listing-discount-ribbon-content">
                        40% Off
                    </span>
                <img class="img" src="../assets/images/s5.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹44,814 | EMI From ₹2,900
                    </p>
                       <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div>
                
                   <div class="card">
                        <span class="listing-discount-ribbon-content">
                        32% Off
                    </span>
                <img class="img" src="../assets/images/s6.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹49,814 | EMI From ₹3,845
                    </p>
                       <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div>   
                
                
                     <div class="card">
                        <span class="listing-discount-ribbon-content">
                        32% Off
                    </span>
                <img class="img" src="../assets/images/s7.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹49,814 | EMI From ₹3,845
                    </p>
                         <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div> 
                
                
                     <div class="card">
                        <span class="listing-discount-ribbon-content">
                        32% Off
                    </span>
                <img class="img" src="../assets/images/s8.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹49,814 | EMI From ₹3,845
                    </p>
                         <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                    
                </div> 
                
                
                     <div class="card">
                        <span class="listing-discount-ribbon-content">
                        32% Off
                    </span>
                <img class="img" src="../assets/images/s9.jpg" width="80%">
                <p class="Card_text">
                        Lewis Sectional Sofa
                    </p>
                        <p class="pricetext">
                        Starting From ₹49,814 | EMI From ₹3,845
                    </p>
                    <div class="hidden_c">
                    <a class="Hidden">Add to compare</a>
                    <a class="Hidden1">View Options</a>
                    </div>
                </div> 
        </div>
        </div>   
        </div>
        
    </body>
</html>



