<html>
    <head>
        <link rel="stylesheet" href="../assets/stylesheets/style.css">
        <script src="../javascript/script.js"></script>
    </head>
    
    <body>
        
        <nav>
            <ul>
                <li><a href="#">Help</a> </li>
                <li><a href="#">Track orders</a></li>
                <li class="rightside" ><a href="#">Stores</a></li>
                <li class="rightside"><a href="#">Bulk order</a></li>
                <li class="rightside"><a href="#">Gift cards</a></li>
            </ul>
        </nav>
        
        <div id="forfun">
            <button id="b1" onclick="toggleimage()">Hide</button>
            <img id="img1" src="../assets/images/arrow.png" width="200px">
        </div>
        
        <div id="layout">
        <img id="img2" src="../assets/images/sofa1.jpg" width="325px">
        <img id="img3" src="../assets/images/sofa2.jpg" width="325px">
        <img id="img4" src="../assets/images/sofa3.jpg" width="325px">
        </div>
        
    </body>
</html>



