<html>
    <head>
        <link rel="stylesheet" href="../assets/stylesheets/style.css">
        <script src="../javascript/script.js"></script>
    </head>
    
    <body>
        
        <nav>
            <ul>
                <li><a href="#">Help</a> </li>
                <li><a href="#">Track orders</a></li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">Bulk order</a></li>
                <li><a href="#">Gift cards</a></li>
            </ul>
        </nav>
        
        <div id="forfun">
            <button id="b1" onclick="toggleimage()">Hide</button>
            <img id="img1" src="../assets/images/nature.jpg" width="500px">
        </div>
            
    </body>
</html>



